
body {
  background: linear-gradient(295deg, rgba(3,1,49,1) 0%, rgba(9,9,121,1) 21%, rgba(40,76,95,1) 61%, rgba(2,0,36,1) 100%);
  height: 100vh;
}

.title {
  font-family: 'Salsa', cursive;
  color: #FAEF9B;
  font-size:4vw;
  margin: 1vw 5vw;
  text-align: center;
}

.highlight {
  color: #FF9800;
  font-size: 1.3em;
}

.content {
  display:flex;
  flex-direction: row;
  margin: 2em 5em;
}

.spin{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 30vw;
  width: 50vw;
  position: relative;
  /* margin-left: 5em; */
  /* margin: 20vh; */
}

.wheel {
  position: relative;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
  background: #064635;
  box-shadow: 0 0 3px 5px #064635,
  0 0 0 0.5em white,
  0 0 0 0.8em #16003B;
  overflow: hidden;
  transition: transform 8s ease-in-out;
  transform: rotate(-15deg);
}

/* .wheel::after {
  display: block;
  position: absolute;
} */

.prize {
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc(60deg * var(--i)));
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 72% 0, 100% 100%, 0 72%);
  font-family: 'roboto', cursive;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #413F42;
  color: #16003B;
  cursor: pointer;
}

p {
  position: relative;
  font-size: 1.2vw;
  transform: rotate(40deg);
  text-align: center;
}

.spinBtn {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  background: #16003B;
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
  font-family: 'Playball', cursive;
  color: white;
  text-shadow: 1px 1px 4px #fff;
  cursor: pointer;
  letter-spacing: 0.1em;
  z-index: 5;
  box-shadow: 0 0 4px 3px #4B56D2;
}

.spinBtn::before {
  content: "";
  position: absolute;
  top: -2vw;
  height: 3vw;
  width: 5vw;
  background: #16003B;
  clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
}

.questionDisplay {
  display: flex;
  flex-direction: column;
}

.sectionTitle{
  font-size: 3vw;
  padding: 1vw 1vw;
  font-family: 'Salsa', cursive;
  color: #FAEF9B;
}

.box {
  font-family: 'Lemon', san-serif;
  font-size: 2.5vw;
  background-color: #fff;
  width: 40vw;
  height: 20vw;
  box-shadow: 0 0 3px 5px #FDE767;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
}

.question {
  margin: 1em 1em;
  text-align: center;
}
